{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": ["stylelint-prettier"],
  "rules": {
    "scss/at-rule-no-unknown": [true, {
      "ignoreAtRules": ["tailwind"]
    }],
    "prettier/prettier": true,
    "selector-class-pattern": "[a-z]+[a-zA-Z]*"
  }
}
